body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
/*  color: #00B7FF;*/
}

.cover {
	border: solid 1px #900;
	padding-bottom: 1.2ex;
}
.cover:hover {
	background-color: #900;
	color: white;
	cursor: pointer;
}
.cover a {
	color: inherit;
}

h3 {

}

.destination {
    padding: 2em;
    padding-bottom: 2.4em;
}

.isActive {
    background-color: gold;
}