body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.destination {
    padding: 2em;
    padding-bottom: 2.4em;
}

.isActive {
    background-color: gold;
}