body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
/*  color: #00B7FF;*/
}

.cover-inner {
/*	border: solid 1px #900;*/
	padding-bottom: 1.2ex;
}
.cover-inner:hover {
	background-color: #900;
	color: white;
	cursor: pointer;
}
.cover a {
	color: inherit;
}

h4 {
	padding-top: 2.3em;
}

.destination {
    padding: 2em;
    padding-bottom: 2.4em;
}

.isActive {
    background-color: gold;
}

p,
label {
	margin-top: 1em;
}