extends layout

append script
    script.
        angular.module('caw-edit').value("destId", "!{destId}");


block content
  .container(ng-controller='DestCtrl')
    h1 <a href="/">Corvallis Arts Walk</a>
    p Editing information for {{dest.name}}

    .row.destination(ng-class='{ isActive: dest.isActive }')
      .col-md-7
        input.form-control(type="text" ng-model="dest.name" placeholder="Name")
        input.form-control(type="text" ng-model="dest.address" placeholder="Address")
        input.form-control(type="text" ng-model="dest.hours" placeholder="Hours (leave empty for default hours)")
        input.form-control(type="text" ng-model="dest.geocode.lat" placeholder="Latitude")
        input.form-control(type="text" ng-model="dest.geocode.lng" placeholder="Longitude")
        textarea.form-control.msd-elastic(ng-model="dest.summary" placeholder="Summary" rows="1")
        textarea.form-control.msd-elastic(ng-model="dest.description" placeholder="Description")
        input.form-control(type="text" ng-model="dest.photoUrl" placeholder="Photo filename")
        label Active this month&nbsp;
          input(type="checkbox" ng-model="dest.isActive")

    .row
      .col-md-12
        button.btn.btn-default(ng-click="save()") Save
