extends layout

block content
  .container(ng-controller='EditCtrl')
    h1= title
    //-    p Welcome to #{title}

    .cover(ng-repeat="dest in destinations")
      a(href="/dest/{{dest.id}}")
        .col-md-6.col-xs-12.col-sm-6.cover-inner(ng-if='dest.isActive')
          h3 {{dest.name}}

    .row
      &nbsp;

    h4 Destinations that are not active this month
    .cover(ng-repeat="dest in destinations")
      a(href="/dest/{{dest.id}}")
        .col-md-6.col-xs-12.col-sm-6.cover-inner(ng-if='!dest.isActive')
          h3 {{dest.name}}

    .row
      &nbsp;

    .row
      .col-md-12
        button.btn.btn-default(ng-click="save()") Save

    .row
      .col-md-7
        input.form-control(type="text" ng-model="assetsUrl")
      .col-md-7
        button.btn.btn-default(ng-click="deactivateAll()") Deactivate All
